/* ----- 2 Key Players ----- */

/* custom w3- classes */
.w3-container,.w3-panel{padding:0 16px}
.w3-padding-top-64 {padding-top: 64px !important;}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

/**, *::before, *::after{
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}*/

body {
  color: #494949; /*#414141;*/
  background-color: #f9fafc;
}

figure {
  margin: 0;
}

/* Font */
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

/* Lines */
hr {
  display: inline-block;
  border-top: solid 1px #757575;
  width: 200px;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  color: #404040;
}
h2.bold {
  font-weight: 700;
}
h2.underline {
  display: inline-block;
  padding-bottom: 16px;
  padding-right: 16px;
  border-bottom: solid 1px #757575;
}

/* Colors */
.pink {background-color: #ff64b2 !important;}
.red {background-color: #ff6464 !important;}
.yellow {background-color: #efde22 !important;}
.green {background-color: #70d570 !important;}
.orange {background-color: #f99c24 !important;}
.blue {background-color: #6ec9d4 !important;}
.hover-pink:hover {background-color: #ff64b2 !important;}
.hover-red:hover {background-color: #ff6464 !important;}
.hover-yellow:hover {background-color: #efde22 !important;}
.hover-green:hover {background-color: #70d570 !important;}
.hover-orange:hover {background-color: #f99c24 !important;}
.hover-blue:hover {background-color: #6ec9d4 !important;}
.text-pink {color: #ff64b2 !important;}
.text-red {color: #ff6464 !important;}
.text-yellow {color: #efde22 !important;}
.text-green {color: #70d570 !important;}
.text-orange {color: #f99c24 !important;}
.text-blue {color: #6ec9d4 !important;}
.hover-text-pink:hover {color: #ff64b2 !important; background-color: inherit !important;}
.hover-text-red:hover {color: #ff6464 !important; background-color: inherit !important;}
.hover-text-yellow:hover {color: #efde22 !important; background-color: inherit !important;}
.hover-text-green:hover {color: #70d570 !important; background-color: inherit !important;}
.hover-text-orange:hover {color: #f99c24 !important; background-color: inherit !important;}
.hover-text-blue:hover {color: #6ec9d4 !important; background-color: inherit !important;}

/* Links */
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.link {
  white-space: nowrap;
}
.link-icon {
  font-size: 80%;
  padding-right: 2px;
}
.inactive {
   pointer-events: none;
   cursor: default;
}

/* Sidebar & Navbar */

#navbar {
  background: #000000;
  border-bottom: 1px solid #8f8f8f;
}
/*#navbar a {
  border-bottom: 1px solid #8f8f8f;
}*/
#navbar .w3-bar-item {
  width: 33.33333% !important;
  padding: 10px !important;
}
/*#navbar a.active {
  background-color: #000000 !important;
}*/

/* Intro */
#intro {
  /*background-image:url("../img/bg.jpg");
  background-size: cover;
  background-position: center;*/
  /*background-attachment: fixed;*/
  position: relative;
  height: 100vh;
}
#intro > div {
  width: 40%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro hr {
  display: inline-block;
}
#intro img {
  width: 100%;
  margin-bottom: 10px;
}
#intro h4 {
  margin-top: 0;
}
#intro br {
  display: none;
}

/* 2 brothers */
.keyplayer {
}
.keyplayer.no1 {
  padding-right: 32px;
}
.keyplayer.no2 {
  padding-left: 32px;
}
.keyplayer .value {
  padding: 2px 16px;
}
.keyplayer a img {
  /*width: 40%;
  max-width: 256px;*/
  filter: grayscale(100%);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.keyplayer a.active, .keyplayer a:hover {
  color: #f1f1f1;
}
.keyplayer a.active img, .keyplayer a:hover img {
  filter: none;
}
.value {
  color: #d9d9d9;
  background-color: #f1f1f1;
}

.chip {
  display: inline-block;
  padding: 0 50px 0 64px;
  height: 100px;
  font-size: 26px;
  line-height: 100px;
  border-radius: 50px;
  background-color: #222222;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.chip img {
  float: left;
  margin: -12px 32px 0 -64px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
}
.chip > div {
  font-size: 15px;
  line-height: 20px;
}

/* Apps & Games */
.tiliard {
  width: 100%;
  height: 200px;
  background:
		linear-gradient(cyan, transparent),
		linear-gradient(-45deg, magenta, transparent),
		linear-gradient(45deg, yellow, transparent);
	background-blend-mode: multiply;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 40px;
}
.tiliard img {
  width: 50%;
  max-width: 120px;
}
.tiliard *, .tiliard *::before, .tiliard *::after{
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

figcaption {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-size: 26px;
  width: 100%;
  height: 100%;
  display: table;
}
figcaption div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #000000;
  text-transform: uppercase;
}
figcaption div:after {
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #000000;
}
figure img {
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
  opacity: 1;
  /*width: 50%;
  max-width: 120px;*/
}
/*figure:hover figcaption{
 background: rgba(255,255,255,0.3);
}*/
figcaption:hover div {
  opacity: 1;
  top: 0;
}
figcaption:hover div:after {
  width: 50%;
}
figure:hover img {
  opacity: 0;
  /*width: 0%;*/
  /*-webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);*/
}

/* Players' lounge */
.location:hover i {
  color: #ff6464 !important;
}
.mail:hover i {
  color: #6ec9d4 !important;
}
.twitter:hover i {
  color: #1da1f2 !important;
}
.facebook:hover i {
  color: #3b5998 !important;
}
.tumblr:hover i {
  color: #3a475c !important;
}
.github:hover i {
  color: #6ec9d4 !important;
}
.steam:hover i {
  color: #c6d4df !important;
}

/* Footer */
footer hr {
  display: inline-block;
  margin-bottom: 0;
}
footer .link-icon {
  padding-right: 1px;
}

@media (max-width:768px) {
  h1{font-size:30px}h2{font-size:24px}h3{font-size:20px}h4{font-size:18px}h5{font-size:16px}

  hr {
    width: 160px;
  }

  header > div {
    width: 100%;
  }

  #play img {
    width: 60%;
  }
  #play br {
    display: inline;;
  }

  .keyplayer.no1 {
    padding-right: 12px;
  }
  .keyplayer.no2 {
    padding-left: 12px;
  }
}

@media (max-width:600px) {
  header > div {
    width: 100%;
  }

  #play img {
    width: 80%;
  }

  .keyplayer.no1 {
    padding-right: 0px;
  }
  .keyplayer.no2 {
    padding-left: 0px;
    padding-top: 32px;
  }
}
