/* ----- 2 Key Players ----- */

/* Custom w3- classes */
.w3-container,.w3-panel{padding:0 16px;}
.w3-ligh-grey{background-color:#f9f9f9 !important;}
.w3-hover-ligh-grey{background-color:#f9f9f9 !important;}
.w3-text-ligh-grey{color:#f9f9f9 !important;}
.w3-hover-text-ligh-grey{color:#f9f9f9 !important;}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

body {
  color: #f9f9f9;
  background-color: #111111;
}

img {
  margin-bottom: -6px;
}

/* Colors */
.pink {background-color: #ff64b2 !important;}
.red {background-color: #ff6464 !important;}
.yellow {background-color: #efde22 !important;}
.green {background-color: #70d570 !important;}
.orange {background-color: #f99c24 !important;}
.blue {background-color: #6ec9d4 !important;}
.hover-pink:hover {background-color: #ff64b2 !important;}
.hover-red:hover {background-color: #ff6464 !important;}
.hover-yellow:hover {background-color: #efde22 !important;}
.hover-green:hover {background-color: #70d570 !important;}
.hover-orange:hover {background-color: #f99c24 !important;}
.hover-blue:hover {background-color: #6ec9d4 !important;}
.text-pink {color: #ff64b2 !important;}
.text-red {color: #ff6464 !important;}
.text-yellow {color: #efde22 !important;}
.text-green {color: #70d570 !important;}
.text-orange {color: #f99c24 !important;}
.text-blue {color: #6ec9d4 !important;}
.hover-text-pink:hover {color: #ff64b2 !important; background-color: inherit !important;}
.hover-text-red:hover {color: #ff6464 !important; background-color: inherit !important;}
.hover-text-yellow:hover {color: #efde22 !important; background-color: inherit !important;}
.hover-text-green:hover {color: #70d570 !important; background-color: inherit !important;}
.hover-text-orange:hover {color: #f99c24 !important; background-color: inherit !important;}
.hover-text-blue:hover {color: #6ec9d4 !important; background-color: inherit !important;}
.hover-text-slick:hover {color: #3a99d8 !important;}
/*.hover-text-testing:hover {color: #379ae9 !important;}
.hover-text-slovak:hover {color: #ff6464 !important;}*/
.hover-text-testing:hover {color: #ff6464 !important;}
.hover-text-slovak:hover {color: #ff6464 !important;}

/* Slick */
.slick-slide {
  padding-bottom: 5px;
}
.slick-next {
  right: 5px;
}
.slick-prev {
  left: 5px;
  z-index: 1;
}
.slick-dots {
  bottom: -32px;
}
.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: #ffffff;
}

/* Tippy */
.tippy {
  cursor: pointer;
}
.tippy-tooltip {
  padding-top: 16px;
  padding-bottom: 16px;
}
.tippy-tooltip.kp-theme {
  background-color: #757575;
}
.tippy-popper[x-placement^=top] .tippy-tooltip.kp-theme .tippy-arrow {
  color: #757575;
}

/* Font */
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.underline {
  display: inline-block;
  padding-bottom: 16px;
  padding-right: 16px;
  border-bottom: solid 1px #757575;
}
.nowrap {
  white-space: nowrap;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  color: #f9f9f9;
}

/* Links */
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.link {
  white-space: nowrap;
}
.link-icon {
  font-size: 80%;
  padding-right: 3px;
}
.link-icon.fa-hashtag {
  padding-right: 2px;
}
.inactive {
   pointer-events: none;
   cursor: default;
}

/* Buttons */
.download {
  width: 180px;
  margin: 32px 0;
}

/* Navbar */
#navbar {
  color: #757575;
  background: #111111;
  border-bottom: 1px solid #757575;
  margin-top: -51px;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 9999;
}
#navbar.active {
  margin-top: 0;
}
#navbar .w3-bar-item {
  width: 33.33333% !important;
  padding: 10px 10px 4px 10px !important;
}
/*.navbar-item:hover {
  background-color: #757575 !important;
}*/

/* Intro */
#intro {
  /*background-image:url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  position: relative;
  height: 100vh;
  padding: 0 !important;
}
#intro div {
  width: 100%;
}
#intro .logo {
  height: 70vh;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .motto {
  height: 30vh;
  color: #111111;
  background-color: #f9f9f9;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
}
#intro .motto .arrow i {
  color: #111111;
}
#intro img {
  width: 40%;
  padding: 32px;
}
#intro h4 {
  color: #111111;
  margin-top: 0;
}

/* Content */
.content {
  padding-top: 32px;
}
.content > .w3-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 32px 10%;
}
.content > .w3-container:first-of-type {
  padding-top: 0;
}

h2 {
  padding-top: 7px;
}

/* 2 brothers */
.keyplayers {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.keyplayer {
  width: 50%;
  display: flex;
  justify-content: center;
}
/*.keyplayer .value {
  padding: 2px 16px;
}*/
.keyplayer a img {
  height: 120px;
  width: 120px;
  /*-moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;*/
}
.no-touch .keyplayer a img {
  filter: grayscale(100%);
}
.keyplayer a.active img, .keyplayer a:hover img {
  filter: none;
}

.keyplayer .about {
  display: flex;
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
}
.keyplayer .about a {
  background-color: #111111;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #757575;
}
.keyplayer .about a:last-of-type {
  border-bottom: none;
}
.keyplayer .about a i {
  margin: auto;
}

.key {
  color: #757575;
  font-size: 12px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.value {
  text-align: right;
  padding-left: 16px;
  padding-right: 16px;
}

/* Apps & Games */
.app .image, .game .image, .other .image {
  width: 100%;
  height: 200px;
}

.image .caption {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-size: 26px;
  width: 100%;
  height: 100%;
  display: table;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.image .caption span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  opacity: 0;
  color: #f9f9f9;
  text-transform: uppercase;
}
.image img {
  opacity: 1;
}
.toggler:hover .caption span, .toggler.active .caption span {
  opacity: 1;
}
.toggler:hover .image img, .toggler.active .image img {
  opacity: 0;
}
.toggler.active:hover .caption span {
  opacity: 0;
}
.toggler.active:hover .image img {
  opacity: 1;
}

#tiliard {
  margin-top: 16px;
}
#tiliard .image {
  background-image: url("../img/tiliard/tiliard-bg.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tiliard .caption span {
  color: #111111;
}

.other-list {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.other-item {
  width: 90px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.other-item:nth-of-type(n+4) {
  margin-top: 20px;
}
.itunes-icon {
  display: block;
  width: 60px;
  border-radius: 13px;
  margin: 0 auto;
}

.half-details {
  float: left;
  width: 49.99999%;
}
.details, .half-details {
  margin-top: 16px;
}
.half-details.left {
  padding-right: 32px;
}
.half-details.right {
  padding-left: 32px;
}

.screenshots {
  width: 100%;
  margin-bottom: 32px !important;
}
.screenshots img {
  width: 100%;
  height: auto;
}

.press:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, #111111, transparent);
}
.press .slick-list:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, #111111, transparent);
}
.press .slick-slide {
  margin: 0 32px;
}
.press a img {
  height: 50px;
  max-height: 50px;
  width: auto;
  filter: grayscale(100%);
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.press a:hover img, .press .slick-active a img {
  filter: none;
}

/* Players' lounge */
.map {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/map.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.no-touch .map {
  filter: grayscale(100%);
}
.map:hover {
  filter: none;
}
.marker {
  color: #111111;
  width: 60px;
  text-align: center;
  padding-top: 70px;
  font-size: 8px;
}
.marker i {
  font-size: 36px;
}
.marker span {
  font-size: 12px;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.marker a:hover span {
  opacity: 1;
}
.map:hover .marker, .touch .map .marker {
  color: #ff6464;
}

.social {
  display: flex;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.social a {
  background-color: #111111;
  font-size: 24px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 1px;
}
.social a i {
  margin: auto;
}

.location:hover i {
  color: #ff6464 !important;
}

.mail {
  padding-bottom: 10px;
}
.mail .fa-envelope {
  font-size: 18px;
}
.mail:hover {
  background-color: #ff6464 !important;
}
.twitter:hover {
  background-color: #1da1f2 !important;
}
.facebook:hover {
  background-color: #3b5998 !important;
}
.tumblr:hover {
  background-color: #3a475c !important;
}
.github:hover {
  background-color: #32aa4c !important;
}
.steam:hover {
  background-color: #1c2837 !important;
}

/* Footer */
.footer {
  margin-top: 32px;
  padding: 0 10%;
}
footer div {
  display: inline-block;
  padding-left: 16px;
  border-top: 1px solid #757575;
}
footer .link-icon {
  padding-right: 1px;
}

/* Responsivity */
@media (max-width:768px) {
  .content > .w3-container, .footer {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  h1{font-size:30px}h2{font-size:24px}h3{font-size:20px}h4{font-size:16px}h5{font-size:16px}

  #intro .logo {
    height: 60vh;
  }
  #intro .motto {
    height: 40vh;
  }
  #intro img {
    width: 70%;
  }

  .keyplayer a img {
    height: 96px;
    width: 96px;
  }
  .keyplayer .about {
    width: 32px;
  }
  .keyplayer .about a {
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .value {
    text-align: center;
  }

  .tiliard {
    background-image: url("../img/tiliard/tiliard-bg-768.jpg");
  }
  .half-details {
    width: 99.99999%;
  }
  .half-details.left {
    padding-right: 0;
  }
  .half-details.right {
    padding-left: 0;
  }
}

@media (max-width:600px) {
  .content > .w3-container, .footer {
    padding-left: 8px;
    padding-right: 8px;
  }

  #intro .logo {
    height: 55vh;
  }
  #intro .motto {
    height: 45vh;
  }
  #intro img {
    width: 100%;
  }

  .keyplayer {
    width: 100%;
  }

  .tiliard {
    background-image: url("../img/tiliard/tiliard-bg-600.jpg");
  }
}

@media (max-width:320px) {
  .tippy-tooltip {
    width: 300px;
    max-width: 300px;
  }
  .itunes-icon {
    width: 50px;
    border-radius: 11px;
  }
  h1{font-size:24px}h2{font-size:20px}h3{font-size:16px}h4{font-size:12px}h5{font-size:12px}
}
